/*! Primitive
  by Tania Rascia */

/* @import url('https://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700&display=swap'); */

@font-face {
  font-family: 'HelveticaNeueLTRoman';
  src: url('../fonts/HelveticaNeueLTRoman.woff');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLTBold';
  src: url('../fonts/HelveticaNeueLTBold.woff');
  font-display: swap;
}

// Configuration
@import 'base/variables';
@import 'base/mixins';

// Reset
@import 'base/reset';

// Components
@import 'components/scaffolding';
@import 'components/helpers';
@import 'components/buttons';
@import 'components/forms';
@import 'components/tables';
@import 'components/navigation';
@import 'components/layout';
@import 'components/new-moon';

// Themes

@import 'themes/dark';
@import 'themes/404';
